.bar {
    /* margin-right: 5px; */
    display: grid;

    /* define the number of grid columns - fixed to 8 for now */
    grid-template-columns: repeat(8, 1fr);

    border-left: 3px solid var(--off-color-2);
}

.bar:last-child {
    border-right: 3px solid var(--off-color-2);
}