:root {
    --right-position-limit: 50%;
}

.container {
    margin-left: var(--track-label-width);
}

.player {
    position: relative;
    width: 100%;
    height: 0px;
}

.meter {
    width: 2px;
    height: 600px;
    background-color: #930bb9;
    animation-name: slideRight;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
}

.hide {
    display: none;
}

.bars1 {
    --right-position-limit: 25%;
}

.bars2 {
    --right-position-limit: 50%;
}

.bars3 {
    --right-position-limit: 75%;
}

.bars4 {
    --right-position-limit: 100%;
}

@keyframes slideRight {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: var(--right-position-limit);
    }
}