.stepDiv {
    padding: 2px;
    cursor: pointer;
}

.stepDiv>div {
    height: 100%;
    border-radius: 2px;
}

.free {
    background-color: var(--off-color-1);
}

.toggled {
    background-color: var(--off-color-2);
}