.instrument {
    display: flex;
    height: 60px;
}

.label {
    width: var(--track-label-width);
    line-height: 100%;
}

.track {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}