.controls {
    margin-bottom: 1rem;
    position: relative;
}

button {
    margin-right: 0.5rem;
}

.mask {
    position: absolute;
    background-color: #7474e8;
    opacity: 0.9;
    z-index: 1;
    top: 0;
    left: 230px;
    height: 35px;
    width: 80%;
}