@import url('input.css');

html {
  font-size: 16px;
}

@font-face {
  font-family: 'RoobertMono';
  src: local('RoobertMono'),
    url(../public/fonts/RoobertMonoTRIAL-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Roobert';
  src: local('Roobert'), url(../public/fonts/RoobertTRIAL-SemiBold.woff) format('woff');
}

body {
  margin: 0;

  font-family: 'RoobertMono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8) 18.84%,
      rgba(255, 255, 255, 0.47) 49.45%,
      rgba(255, 255, 255, 0) 94.2%
    ),
    linear-gradient(87deg, #ffcdcd 2.61%, #ffedd8 48.87%, #fbeec3 95.12%);

  color: black;

  /* VARIABLES */

  --black: #000000;
  --white: #fff;
  --main: #795cef;
  --main-light: #b9abeb;
  --main-faded: rgba(121, 92, 239, 0.3);
  --contrast: #ff6b6b;

  --kick: #77f57c;
  --snare: #f9fb92;
  --hat: #fb92f7;
  --hat2: #92d5fb;
  --1: #ff5f5f;
  --2: #ff5f5f;
  --3: #ff5f5f;

  /* original pad colors */
  --wisteria: #b59ecdff;
  --celestial-blue: #338eccff;
  --melon: #fab8b5ff;
  --maya-blue: #8ac5f4ff;

  --panel-color-1: #d46174;
  --panel-color-2: #e38471;
  --off-color-1: #ecdda6;
  --off-color-2: #36454f;
  --off-color-3: whitesmoke;
  --inactive-color: grey;
  --pad-kick: var(--sampler-bottom);
  --pad-snare: var(--sampler-bottom);
  --pad-hat: var(--sampler-bottom);
  --pad-1: var(--wisteria);
  --pad-2: var(--wisteria);
  --pad-3: var(--wisteria);
  --pad-4: var(--wisteria);
  --background-inner: #e66465;
  --background-mid: #cc5577;
  --background-outer: #9198e5;
  /* aliases */
  --sampler-bottom: #556d7c;
  --control-bar: var(--off-color-1);
  --btn-red: var(--panel-color-1);
  /* layout */
  --track-label-width: 65px;
}

button {
  font-family: inherit;
  line-height: normal;
  margin: 0;
  /* Firefox and Safari have margin */
  overflow: visible;
  /* Edge hides overflow */
  text-transform: none;
  /* Firefox inherits text-transform */
  appearance: button;
  -webkit-appearance: button;
  /* Safari otherwise prevents some styles */

  /* styling */
  border: 1px solid var(--black);
  border-radius: 6px;
  background: none;
  color: var(--black);
  font-size: 0.8rem;
  white-space: nowrap;
  text-decoration: none;
  margin: 0px 0.2rem;
  cursor: pointer;
  padding: 0px 5px;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button:disabled {
  background: var(--inactive-color);
  color: lightgrey;
  cursor: default;
}

button:hover {
  background-color: var(--main-light);
}

@keyframes tracker {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
