html {
  font-size: 16px;
}

@font-face {
  font-family: 'RoobertMono';
  src: local('RoobertMono'), url(../public/fonts/RoobertMonoTRIAL-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Roobert';
  src: local('Roobert'), url(../public/fonts/RoobertTRIAL-SemiBold.woff) format('woff');
}

body {
  margin: 0;

  font-family: 'RoobertMono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  max-height: 700px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.80) 18.84%, rgba(255, 255, 255, 0.47) 49.45%, rgba(255, 255, 255, 0.00) 94.2%), linear-gradient(87deg, #FFCDCD 2.61%, #FFEDD8 48.87%, #FBEEC3 95.12%);

  color: black;


  /* VARIABLES */

  --black: #000000;
  --white: #FFF;
  --main: #795CEF;
  --main-light: #B9ABEB;
  --main-faded: rgba(121, 92, 239, 0.3);
  --contrast: #FF6B6B;

  --kick: #77F57C;
  --snare: #F9FB92;
  --hat: #FB92F7;
  --hat2: #92D5FB;
  --1: #FF5F5F;
  --2: #FF5F5F;
  --3: #FF5F5F;


  /* original pad colors */
  --wisteria: #B59ECDff;
  --celestial-blue: #338ECCff;
  --melon: #FAB8B5ff;
  --maya-blue: #8AC5F4ff;

  --panel-color-1: #d46174;
  --panel-color-2: #e38471;
  --off-color-1: #ecdda6;
  --off-color-2: #36454f;
  --off-color-3: whitesmoke;
  --inactive-color: grey;
  --pad-kick: var(--sampler-bottom);
  --pad-snare: var(--sampler-bottom);
  --pad-hat: var(--sampler-bottom);
  --pad-1: var(--wisteria);
  --pad-2: var(--wisteria); 
  --pad-3: var(--wisteria);
  --pad-4: var(--wisteria);
  --background-inner: #e66465;
  --background-mid: #cc5577;
  --background-outer: #9198e5;
  /* aliases */
  --sampler-bottom: #556d7c;
  --control-bar: var(--off-color-1);
  --btn-red: var(--panel-color-1);
  /* layout */
  --track-label-width: 65px;
}

button {
  font-family: inherit;
  line-height: normal;
  margin: 0;
  /* Firefox and Safari have margin */
  overflow: visible;
  /* Edge hides overflow */
  text-transform: none;
  /* Firefox inherits text-transform */
  -webkit-appearance: button;
  /* Safari otherwise prevents some styles */

  /* styling */
  border: 1px solid var(--black);
  border-radius: 20px;
  background: none;
  color: var(--black);
  font-size: 0.8rem;
  white-space: nowrap;
  text-decoration: none;
  margin: 0px 0.2rem;
  cursor: pointer;
  padding: 0px 5px;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button:disabled {
  background: var(--inactive-color);
  color: lightgrey;
  cursor: default;
}

button:hover{background-color: var(--panel-color-1);}


input[type="range"] {
  -webkit-appearance: none;
  height: 1px;
  background: var(--black);
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--black);
  border: 1px solid black
}

@keyframes tracker {
  0% { left: 0 }
  100% { left: 100% }
}